@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
/* font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */

:root{
    /* ### Primary */
    --Very-dark-blue: hsl(233, 47%, 7%);  /*-(main-background) */
    --Dark-desaturated-blue: hsl(244, 38%, 16%); /*(card background)*/
    --Soft-violet: hsl(277, 64%, 61%);  /*(accent)*/  
    /* ### Neutral */   
    --White: hsl(0, 0%, 100%);  /*(main heading, stats)*/
    --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);  /* (main paragraph)*/
    --Slightly-transparent-white: hsla(0, 0%, 100%, 0.6);  /* (stat headings)*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    background: var(--Very-dark-blue);
    color: var(--Slightly-transparent-white);
    text-align: center;
    font-family: 'Inter', sans-serif;
    padding-top: 20px;
}

.card{
    background: var(--Dark-desaturated-blue);
    min-width: 320px;
    max-width: 500px;
    width: 90%;
    height: 750px;
    margin: 0 auto 20px;
    border-radius: 10px;
    overflow: hidden;
}

.container-img{
    background: url(images/image-header-mobile.jpg);
    background-size: 100% 100%;
    height: 33%;
    min-height: 250px;
    
}    

.container-img .effect{
    background: var(--Soft-violet);
    mix-blend-mode: multiply;
    height: 100%;
}

.container-card{
    height: 67%;
    padding: 30px;
}

.container-card h1, .stats{
    font-size: 1.5em;
    color: var(--White);
}

.container-card h1 span{
    color: var(--Soft-violet);
}

h1{
    width: 80%;
    margin: 10px auto 0;

}

.container-card .text-center{
    font-size: .8em;
    line-height: 1.8em;
    width: 80%;
    margin: 20px auto;
}

.container-card__2{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.stats{
    font-weight: 700;
    text-transform: uppercase;
}

.container-card__2 .text{
    text-transform: uppercase;
    font-size: .7em;
    font-family: 'Lexend Deca', sans-serif;
    margin: 8px 0 30px
}

@media screen and (min-width:1000px){
    body{
        padding-top: 200px;
        font-size: 18px;
    }

    .card{
        width: 1000px;
        height: 500px;
        display: flex;
        flex-direction: row-reverse;
        font-size: 1.2em;
        text-align: left;
        max-width: none;
    }

    .container-img{
        background: url(images/image-header-desktop.jpg);
        background-size: 100% 100%;
        width: 50%;
        height: 100%;
    }

    .container-card{
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    
    .container-card__2{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    } 
}

.attribution { 
    font-size: 11px;
    text-align: center;
    opacity: 0.3;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.attribution a:hover{ 
    color: var(--Soft-violet);
}
.attribution:hover{
    opacity: .9;
}